.divsuelto {
  background-color: seagreen;
}
.perro {
  background-color: slateblue;
  height: 250px;
  width: 200px;
  padding: 25px 50px 60px;
  box-sizing: border-box;
}

.texto {
  background-color: violet;
  height: 100px;
  border: solidturquoise 50px;
}
