.container {
  width: 800px;
  background-color: lemonchiffon;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.articulo {
  width: 50%;
}

.final {
  order: -1;
  width: 100%;
}
